@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "PagesWithSideMenu.cshtml";
}
<article class="col-sm-9 pull-right">
	<h1 class="h2 clr-drk-blu">@Model.Content.GetPropertyValue("title")</h1>
	@*(Model.Content.GetGridHtml("bodyContent"))*@
	@if(Model.Content.HasValue("introductionText"))
    {
		<p class="md-para italic">@umbraco.library.RemoveFirstParagraphTag(Model.Content.GetPropertyValue("introductionText").ToString())</p>
    }
    @if(Model.Content.HasValue("bodyContent"))
    {
		@Model.Content.GetPropertyValue("bodyContent")
    }
</article>