<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
	<add name="PolyglotRewrite" virtualUrl="~/([A-z]{2})/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$2? lang=$1" ignoreCase="true" />
    <!--<add name="PolyglotRewrite" virtualUrl="~/(.*)/(de)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="/{R:1}/{R:3}" ignoreCase="true" />-->
  <!--<add name="TranslationRewrite" virtualUrl="(.*)/translation/([A-z]{2})/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$1? lang=$1" ignoreCase="true" />-->
    <!-- 
				Urlrewriting.Net is a cool tool, what can make your urls look nice.
				The rewriting is controlled with regular expressions. To get more help
				look at http://www.urlrewriting.net/. 
				
				Remember to read the manual! 
				http://our.umbraco.org/wiki/recommendations/recommended-reading-for-web-developers

				The sample below rewrites a url from 
				"/product/someproductid.aspx" to 
				"/product.aspx?productid=someproductid" 
				
				The user will not see the rewritten path! The page that will be 
				loaded from umbraco will instead be:
				"/product.aspx?productid=someproductid" 
										
				<add name="produktidrewrite" 
					virtualUrl="^~/product/(.*).aspx" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="~/product.aspx?productid=$1" 
					ignoreCase="true" />
					
				This sample is usefull for a productpage, where the product comes from a 
				dynamic datasource, e.g. a database. The querystring "productid" can be loaded
				from the template, into a macro, that then loads the product!
				
				Any bugs or problems with the rewriter, contact Anders/Duckie
			-->
    <!--<add name="301redirect-0"  virtualUrl="https://www.crif-online.at/sb/checkperson?(.*)" destinationUrl="https://www.crif-online.at/sb/login" ignoreCase="true" redirect="Application" redirectMode="Permanent" />-->
    <add name="301redirect-1"  virtualUrl="^~/branchen-loesungen/Pages/Baugewerbe.aspx" destinationUrl="~/branchen/gewerbe-handwerk/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-2"  virtualUrl="^~/branchen-loesungen/Pages/E-Commerce-und-Handel.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-3"  virtualUrl="^~/branchen-loesungen/Pages/Gastronomie.aspx" destinationUrl="~/branchen/handel/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-4"  virtualUrl="^~/branchen-loesungen/Pages/Kreditrisikomanagement-Loesungen-fuer-KMUs.aspx" destinationUrl="~/branchen/gewerbe-handwerk/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-5"  virtualUrl="^~/branchen-loesungen/Pages/Personaldienstleister.aspx" destinationUrl="~/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-6"  virtualUrl="^~/Datenschutzerklärung/Pages/Datenschutzerklärung.aspx" destinationUrl="~/datenschutzerklaerung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-7"  virtualUrl="^~/Datenschutzerklärung/Pages/Cookie-Policy.aspx" destinationUrl="~/cookie-policy/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-8"  virtualUrl="^~/Datenschutzerklärung" destinationUrl="~/datenschutzerklaerung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-9"  virtualUrl="^~/Impressum/Pages/Impressum.aspx" destinationUrl="~/impressum/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-10"  virtualUrl="^~/Karriere/Pages/Karriere.aspx" destinationUrl="~/ueber-uns/jobs-karriere/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-11"  virtualUrl="^~/Kontaktaufnahme/Pages/default.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-12"  virtualUrl="^~/Karriere" destinationUrl="~/ueber-uns/jobs-karriere/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-13"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Angebot-von-SkyMinder-wird-laufend-erweitert-.aspx" destinationUrl="~/branchen-news/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-14"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Atradius-bietet-gemeinsam-mit-CRIF-die-Modula-Safe-Kreditversicherung-an.aspx" destinationUrl="~/branchen-news/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-15"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Automatisierte-Leasingvergabe-So-optimieren-Sie-die-Entscheidungszeit.aspx" destinationUrl="~/branchen-news/2016/september/27/marktprognose-automatisierte-leasingvergabe/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-16"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/CRIF-am-Versandhandelstag2016.aspx" destinationUrl="~/pr-events/events/2016/juni/21/crif-am-versandhandelstag-2016/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-17"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/CRIF-unterzeichnet-Servicevertraege-mit-sechs-großen-Banken-in-Jordanien.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/maerz/30/crif-unterzeichnet-servicevertraege-mit-sechs-grossen-banken-in-jordanien/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-18"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Event-Empfehlung-BvCM-Business-Breakfast.aspx" destinationUrl="~/pr-events/events/2016/mai/04/event-empfehlung-bvcm-business-breakfast/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-19"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Japan-Welche-Chancen-bietet-das-Land-der-aufgehenden-Sonne.aspx" destinationUrl="~/pr-events/events/2016/maerz/07/japan-welche-chancen-bietet-das-land-der-aufgehenden-sonne/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-20"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Nachrichten-events.aspx" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />


    <add name="301redirect-21"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Wie-man-Betruegern-auf-die-Schliche-kommt.aspx" destinationUrl="~/branchen-news/2016/juni/23/wie-man-betruegern-auf-die-schliche-kommt/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-22"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Wie-man-das-Risiko-bei-Auslandsgeschaeften-klein-haelt.aspx" destinationUrl="~/branchen-news/2016/august/26/wie-man-das-risiko-bei-auslandsgeschaeften-klein-haelt/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-23"  virtualUrl="^~/Nachrichten/nachrichten-events/Pages/Wie-man-sich-vor-Zahlungsausfaellen-schuetzt-und-den-Gewinn-maximiert.aspx" destinationUrl="~/branchen-news/2016/mai/12/wie-man-sich-vor-zahlungsausfaellen-schuetzt-und-den-gewinn-maximiert/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-24"  virtualUrl="^~/Nachrichten/nachrichten-events" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-25"  virtualUrl="^~/Nachrichten/Pages/Nachrichten.aspx" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-26"  virtualUrl="^~/Nachrichten/pressemappe/Pages/Pressemappe.aspx" destinationUrl="~/pr-events/pressemappe/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-27"  virtualUrl="^~/Nachrichten/pressemappe" destinationUrl="~/pr-events/pressemappe/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-28"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/CRIF-Studie-Black-Friday-erfolgreichster-Online-Shoppingtag-des-Jahres.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/dezember/13/studie-black-friday-erfolgreichster-online-shoppingtag-des-jahres/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-29"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/CRIF-Studie-Zahlungsverhalten-der-Oesterreicher-verbessert.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/august/22/studie-zahlungsverhalten-der-oesterreicher-verbessert/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-30"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/CRIF-verbessert-seine-Geschäftstaetigkeit-in-Russland-durch-den-Erwerb-von-Microfinance-Technologies-Center-.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/september/05/uebernahme-von-microfinance-technologies-center-in-russland/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-31"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/CRIF-wieder-im-FinTech-Top-100-Ranking-vertreten.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/september/14/crif-wieder-im-fintech-top-100-ranking-vertreten/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-32"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Die-Global-Credit-Reporting-Agency-\((CRIF)\)-uebernimmt-China-Credit-Information-Service-\((CCIS)\).aspx" destinationUrl="~/pr-events/pressemeldungen/2016/september/09/uebernahme-der-taiwanesischen-kreditauskunftei-ccis/" ignoreCase="true" redirect="Application" redirectMode="Permanent" encoding="true"  />
    <add name="301redirect-33"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Dreimal-so-viele-Gruendungen-wie-Insolvenzen-am-Bau.aspx" destinationUrl="~/pr-events/pressemeldungen/2017/januar/24/dreimal-so-viele-gruendungen-wie-insolvenzen-am-bau/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-34"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Eigentuemerverhältnisse-Oesterreichs-Unternehmen-klar-in-heimischer-Hand.aspx" destinationUrl="~/pr-events/pressemeldungen/2016/dezember/19/studie-oesterreichs-unternehmen-klar-in-heimischer-hand/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-35"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Hoechste-Eigenkapitalquote-bei-Vorarlberger-Handelsunternehmen-.aspx" destinationUrl="~/pr-events/pressemeldungen/2017/februar/02/studie-hoechste-eigenkapitalquote-bei-vorarlberger-handelsunternehmen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-36"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Neue-Kooperation-zwischen-CRIF-und-WebID-Solutions-GmbH-ermoeglicht-Personenauthentifizierung-mit-Videokonferenz.aspx" destinationUrl="~/branchen-news/2016/november/08/neue-kooperation-zwischen-crif-oesterreich-und-deutscher-webid-solutions-gmbh-ermoeglicht-personenauthentifizierung-mittels-videokonferenz/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-37"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Pressemeldungen.aspx" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-38"  virtualUrl="^~/Nachrichten/pressemeldungen/Pages/Studie-Tirol-fuehrt-bei-weiblichen-Fuehrungskraeften-im-Beherbergungs-und-Gastronomiesektor.aspx" destinationUrl="~/pr-events/pressemeldungen/2017/februar/17/studie-tirol-fuehrt-bei-weiblichen-fuehrungskraeften-im-beherbergungs-und-gastronomiesektor/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-39"  virtualUrl="^~/Nachrichten/pressemeldungen" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-40"  virtualUrl="^~/Nachrichten" destinationUrl="~/pr-events/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />


    <add name="301redirect-41"  virtualUrl="^~/Pages/default.aspx" destinationUrl="~/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-42"  virtualUrl="^~/PublishingImages/video/25years_of_CRIF.mp4" destinationUrl="~/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-43"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/Abfragen-von-Informationen.aspx" destinationUrl="~/konsumenten/abfragen-von-informationen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-44"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/Aktualisierung-von-Informationen.aspx" destinationUrl="~/konsumenten/aktualisierung-von-informationen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-45"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/CRIF-fur-Konsumenten-Die-Vorteile.aspx" destinationUrl="~/konsumenten/crif-fuer-konsumenten-die-vorteile/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-46"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/Gespeicherte-Informationen.aspx" destinationUrl="~/konsumenten/gespeicherte-informationen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-47"  virtualUrl="^~/services-fur-konsumenten/CRIF-Online-Auskunft/Pages/CRIF-Auskunft.aspx" destinationUrl="~/konsumenten/selbstauskunft/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-48"  virtualUrl="^~/services-fur-konsumenten/Feedback/Pages/Feedback.aspx" destinationUrl="~/konsumenten/feedback/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-49"  virtualUrl="^~/services-fur-konsumenten/Haufig-gestelle-Fragen/Pages/Haufig-gestelle-Fragen.aspx" destinationUrl="~/konsumenten/haeufig-gestellte-fragen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-50"  virtualUrl="^~/services-fur-konsumenten/Pages/Services-fur-Konsumenten.aspx" destinationUrl="~/konsumenten/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-51"  virtualUrl="^~/services-fur-konsumenten/Uber-uns/Pages/Uber-uns.aspx" destinationUrl="~/ueber-uns/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-52"  virtualUrl="^~/services-fur-konsumenten/Uber-uns/Pages/Unternehmensgeschichte.aspx" destinationUrl="~/ueber-uns/unternehmenshistorie/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-53"  virtualUrl="^~/Site-map/Pages/Site-map.aspx" destinationUrl="~/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-54"  virtualUrl="^~/solutions/bonitätsauskunfte/Pages/Auskünfte-über-Privatpersonen.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-55"  virtualUrl="^~/solutions/bonitätsauskunfte/Pages/Auskünfte-über-Unternehmen.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-56"  virtualUrl="^~/solutions/bonitätsauskunfte/Pages/Bonitätsauskunfte.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-57"  virtualUrl="^~/solutions/bonitätsauskunfte/products/Pages/Credit-Check-Business.aspx" destinationUrl="~/loesungen/produkte/credit-check-business/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-58"  virtualUrl="^~/solutions/bonitätsauskunfte/products/Pages/Credit-Check-Business-Monitoring.aspx" destinationUrl="~/loesungen/produkte/credit-check-business-monitoring/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-59"  virtualUrl="^~/solutions/bonitätsauskunfte/products/Pages/Credit-Check-Consumer.aspx" destinationUrl="~/loesungen/produkte/credit-check-consumer/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-60"  virtualUrl="^~/solutions/bonitätsauskunfte/products/Pages/Finance-Check-Business.aspx" destinationUrl="~/loesungen/produkte/finance-check-business/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />

    <add name="301redirect-61"  virtualUrl="^~/solutions/bonitätsauskunfte" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-62"  virtualUrl="^~/solutions/decisioning/Pages/Antragsprüfung.aspx" destinationUrl="~/loesungen/services/antragspruefung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-63"  virtualUrl="^~/solutions/decisioning/Pages/Betrugsbekämpfung.aspx" destinationUrl="~/loesungen/beratung/fraud-prevention" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-64"  virtualUrl="^~/solutions/decisioning/Pages/Decisioning.aspx" destinationUrl="~/loesungen/beratung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-65"  virtualUrl="^~/solutions/decisioning/Pages/Planung-und-Entwicklung.aspx" destinationUrl="~/loesungen/beratung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-66"  virtualUrl="^~/solutions/decisioning/Pages/Portfoliomanagement.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-67"  virtualUrl="^~/solutions/decisioning/products/Pages/CreditFlow.aspx" destinationUrl="~/loesungen/produkte/creditflow-process-management/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-68"  virtualUrl="^~/solutions/decisioning/products/Pages/Credity.aspx" destinationUrl="~/loesungen/produkte/credity/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-69"  virtualUrl="^~/solutions/decisioning/products/Pages/Modelle-für-Portfoliomanagement.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-70"  virtualUrl="^~/solutions/decisioning/products/Pages/Scoring-Modelle-für-die-Antragsprüfung.aspx" destinationUrl="~/loesungen/beratung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-71"  virtualUrl="^~/solutions/decisioning/products/Pages/Scoring-Modelle-für-Planung-und-Entwicklung.aspx" destinationUrl="~/loesungen/beratung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-72"  virtualUrl="^~/solutions/decisioning/products/Pages/StrategyOne.aspx" destinationUrl="~/loesungen/produkte/strategyone-decision-management/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-73"  virtualUrl="^~/solutions/decisioning" destinationUrl="~/loesungen/beratung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-74"  virtualUrl="^~/solutions/internationale-reports/Pages/Internationale-Reports.aspx" destinationUrl="~/loesungen/produkte/internationale-reports-skyminder/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-75"  virtualUrl="^~/solutions/Pages/Kundenprozess.aspx" destinationUrl="~/loesungen/produkte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-76"  virtualUrl="^~/solutions/products/Pages/4-Tipps-für-den-idealen-Markteintritt-Ihres-Online-Shops-in-der-Schweiz.aspx" destinationUrl="~/branchen-news/2016/januar/27/4-tipps-fuer-den-idealen-markteintritt-ihres-online-shops-in-der-schweiz/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-77"  virtualUrl="^~/solutions/products/Pages/Kauf-auf-offene-Rechnung-Risikomanagement-Losung.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-78"  virtualUrl="^~/solutions/products/Pages/Mehrwerte-für-Online-Shops-und-Versandhändler.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-79"  virtualUrl="^~/solutions/products/Pages/Staerken-von-CRIF.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-80"  virtualUrl="^~/Ueber-uns/Pages/CRIF.aspx" destinationUrl="~/ueber-uns/end-to-end-knowledge-company/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />

    <add name="301redirect-81"  virtualUrl="^~/Ueber-uns/Pages/Internationale-Mitgliedschaften.aspx" destinationUrl="~/ueber-uns/internationale-mitgliedschaften/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-82"  virtualUrl="^~/Ueber-uns/Pages/Nationale-Mitgliedschaften.aspx" destinationUrl="~/ueber-uns/nationale-mitgliedschaften/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-83"  virtualUrl="^~/Ueber-uns/Pages/Qualitaets-und-Sicherheitszertifizierung.aspx" destinationUrl="~/ueber-uns/qualitaets-und-sicherheitszertifizierung/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-84"  virtualUrl="^~/Ueber-uns/Pages/Rechte-und-Pflichten-nach-dem-Datenschutzgesetz.aspx" destinationUrl="~/konsumenten/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-85"  virtualUrl="^~/Ueber-uns/Pages/Unser-Commitment.aspx" destinationUrl="~/ueber-uns/unser-commitment/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-86"  virtualUrl="^~/Ueber-uns/Pages/Unsere-Mission.aspx" destinationUrl="~/ueber-uns/unsere-mission-und-werte/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-87"  virtualUrl="^~/Ueber-uns/Pages/Unternehmenshistorie.aspx" destinationUrl="~/ueber-uns/unternehmenshistorie/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-88"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Asien.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-89"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/China.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-90"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Lateinamerika-und-die-Karibischen-Staaten.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-91"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Mittel-und-Osteuropa.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-92"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Nordamerika.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-93"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Russland-und-GUS.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-94"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/UK.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-95"  virtualUrl="^~/Ueber-uns/Wo-wir-sind/Pages/Westeuropa-und-Nordafrika.aspx" destinationUrl="~/kontakt/nachricht-senden/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-96"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/Interpretation-der-Informationen.aspx" destinationUrl="~/konsumenten/interpretation-der-informationen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-97"  virtualUrl="^~/services-fur-konsumenten/CRIF-fur-Konsumenten-Die-Vorteile/Pages/Informationsquellen.aspx" destinationUrl="~/konsumenten/informationsquellen/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <!--<add name="https Rewrite" redirect="Domain" redirectMode="Permanent" virtualUrl="http://(.*)" destinationUrl="https://$1" ignoreCase="true" />
    <add name="301redirect-96"  virtualUrl="^~/Ueber-uns" destinationUrl="~/ueber-uns/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
	<add name="301redirect-97"  virtualUrl="^/Impressum" destinationUrl="~/impressum/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />-->
    <!--<add name="301redirect-98"  virtualUrl="^~/solutions/products/Pages/Mehrwerte-für-Online-Shops-und-Versandhändler.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-99"  virtualUrl="^~/solutions/products/Pages/Staerken-von-CRIF.aspx" destinationUrl="~/branchen/e-commerce/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />
    <add name="301redirect-100"  virtualUrl="^~/Ueber-uns/Pages/CRIF.aspx" destinationUrl="~/ueber-uns/end-to-end-knowledge-company/" ignoreCase="true" redirect="Application" redirectMode="Permanent" />-->
	<!--<add name="PolyglotRewrite" virtualUrl="~/([A-z]{2})/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$2? lang=$1" ignoreCase="true" /> -->
  </rewrites>
</urlrewritingnet>
