@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div class="container newsbox">
                
            <div class="main-block-system">
                <!--AAAview: page_frontpage_i18n START-->
                <div class="content-block-wrapper"> 
                    <div class="content-row">
                    <!--views row: START-->
                        <div class="content-column content-column-1 content-column-odd views-row-colspan-2" data-ss-colspan="2">
                            <article class="teaser-article clearfix">
                                <div class="image-field" data-ga-count="1">
                                    <img class="" src="images/large_teaser_placeholder_540.png">
                                    <span class="field-items">
                                        <span class="" data-ga-target="">
                                            <div class="">
                                                <h2 class="element-invisible"><a href="/en/file/1716">banner-crifbuergel-merger-gb.jpg</a></h2>
                                                <div class="content">
                                                    <img src="https://www.crifbuergel.de/sites/default/files/banner-crifbuergel-merger-gb.jpg" width="590" height="360" alt="crifbuergel merger">
                                                </div>
                                            </div>
                                        </span>
                                    </span>
                                </div> 

                                <header>
                                    <!--field: field_term_news START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Press Releases</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_news END-->
                    
                                    <p class="date-submitted">
                                        <time pubdate="" datetime="2017-07-01T00:00:00+02:00">01.07.2017</time>      
                                    </p>
                                    <h2 class="node-title"><!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>BÜRGEL Wirtschaftsinformationen and CRIF GmbH to merge</span>
                                            </span>
                                        </div> 
                                    <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
            
                                <div class="field-name-body">
                                    <p>Today the globally active credit bureau service group CRIF merged its German subsidiaries BÜRGEL Wirtschaftsinformationen and CRIF GmbH.
                                    </p>
                                </div> 
            
                                <a href="/en/news/press-releases/burgel-wirtschaftsinformationen-and-crif-gmbh-to-merge" class="read-more" title="BÜRGEL Wirtschaftsinformationen and CRIF GmbH to merge">
                                    Read More
                                </a>
                            </article>
                        </div>

                        <div class="content-column content-column-2 content-column-even views-row-colspan-2" data-ss-colspan="2">
                            <article class="teaser-article clearfix">
                                <div class="image-field" data-ga-count="1">
                                    <img class="" src="images/large_teaser_placeholder_540.png">
                                    <span class="field-items">
                                        <span class="" data-ga-target="skyminder">
                                            <img src="https://www.crifbuergel.de/sites/default/files/skyminder-lightbox_0.png" width="590" height="360" alt="skyminder">
                                        </span>
                                    </span>
                                </div> 
            
                                <header>
                                    <!--field: field_category START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>International Reports</span>
                                        </span>
                                    </div> 
                                    <!--field: field_category END-->
                    
                                    <h2 class="node-title"><!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>SkyMinder – Worldwide Business Information</span>
                                            </span>
                                        </div> 
                                    <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
            
                                <div class="field-name-body">
                                    <p>Receive financial and business information on more than 200 million companies in over 230 countries online in an easy way.
                                    </p>
                                </div> 
            
                                <a href="/en/services/solvency-information/international-reports/skyminder" class="read-more" title="SkyMinder – Worldwide Business Information">
                                    Read More
                                </a>
                            </article>
                        </div>

                        <div class="content-column content-column-3 content-column-odd content-column-highlight views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                        <!--field: field_term_news START-->
                                    <div class="field field-name-field-term-news field-type-taxonomy-term-reference field-label-hidden">
                                        <span class="field-items">
                                            <span>Press Releases</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_news END-->
                                    <p class="date-submitted">
                                        <time pubdate="" datetime="2017-09-18T12:35:35+02:00">18.09.2017</time>
                                    </p>
                                    <div class="field-image-icon">
                                        <img src="https://www.crifbuergel.de/sites/default/files/styles/image_icon/public/articles.png?itok=VWCNSC-D" alt="">
                                    </div>    
                                    <h2 class="node-title"><!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>Company insolvencies continue to fall in 2017</span>
                                            </span>
                                        </div> 
                                        <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
                                <div class="field-name-body">
                                    <p>Company insolvencies in Germany have also continued to fall in the first six months of 2017.</p> 
                                </div> 
            
                                <a href="/en/news/press-releases/company-insolvencies-continue-to-fall-in-2017-dortmund-is-at-the-head-of-the" class="read-more" title="Company insolvencies continue to fall in 2017 — Dortmund is at the head of the insolvency leaderboard">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-4 content-column-even content-column-highlight views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                <!--field: field_term_news START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>CRIF News</span>
                                        </span>
                                    </div> 
                                <!--field: field_term_news END-->
                    
                                    <p class="date-submitted">
                                        <time pubdate="" datetime="2017-10-26T11:31:23+02:00">26.10.2017</time>      
                                    </p>
                                    <div class="field-image-icon">
                                        <img src="https://www.crifbuergel.de/sites/default/files/styles/image_icon/public/articles.png?itok=VWCNSC-D" alt="">
                                    </div>    
                                    <h2 class="node-title"><!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>CRIF takes 33rd place in the IDC FinTech Rankings 2017</span>
                                            </span>
                                        </div> 
                                    <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
                                <div class="field-name-body">
                                    <p>CRIF is ranked in 33rd place in the IDC FinTech 2017 classification, taking a further leap forward compared to the 2016 ranking.</p> 
                                </div> 
                                
                                <a href="/en/news/crif-news/crif-takes-33rd-place-in-the-idc-fintech-rankings-2017" class="read-more" title="CRIF takes 33rd place in the IDC FinTech Rankings 2017">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-5 content-column-odd content-column-highlight views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                    <!--field: field_term_solution START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Industry Solution</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_solution END-->
                    
                                    <!--field: field_image_icon START-->
                                    <div class="field-image-icon">
                                        <span class="field-items">
                                            <span>
                                                <img src="https://www.crifbuergel.de/sites/default/files/styles/image_icon/public/image-icon/fraud-guard-100x100-v01.png?itok=baWsBbZM" width="100" height="100" alt="frauf guard">
                                            </span>
                                        </span>
                                    </div> 
                                    <!--field: field_image_icon END-->
                                    <h2 class="node-title">Fraud Prevention</h2>
                                </header>

                                <div class="field-name-body">
                                    <p>Protect your business from online criminal fraud. CRIFBÜRGEL offers modular, high-performance solutions for fraud protection</p>
                                </div> 
            
                                <a href="/en/industry-solutions/fraud-prevention" class="read-more" title="Fraud Prevention">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-6 content-column-even content-column-highlight views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                    <!--field: field_term_news START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Press Releases</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_news END-->
                                    <p class="date-submitted">
                                        <time pubdate="" datetime="2017-06-25T15:12:18+02:00">25.06.2017</time>      
                                    </p>
                                    <div class="field-image-icon">
                                        <img src="https://www.crifbuergel.de/sites/default/files/styles/image_icon/public/articles.png?itok=VWCNSC-D" alt="">
                                    </div>    
                                    <h2 class="node-title">
                                        <!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>SkyMinder - Get company data quickly</span>
                                            </span>
                                        </div> 
                                        <!--field: field_teaser_title END-->
                                    </h2>
                                </header>

                                <div class="field-name-body">
                                    <p>SkyMinder provides daily business and credit rating information internationally to more than 200 million companies in 230 countries and&nbsp; regions.</p> 
                                </div> 
                                
                                <a href="/en/news/press-releases/get-company-data-quickly-from-all-four-corners-of-the-earth" class="read-more" title="Get company data quickly - from all four corners of the earth">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-7 content-column-odd content-column-service views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                    <!--field: field_term_service START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Solvency information</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_service END-->
                    
                                    <h2 class="node-title">
                                        <!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>B2B-Information on companies</span>
                                            </span>
                                        </div> 
                                        <!--field: field_teaser_title END-->
                                    </h2>
                                </header>

                                <div class="field-name-body">
                                    <p>Check your German business partners and minimize risks with solvency reports.</p>
                                </div> 
            
                                <a href="/en/services/solvency-information/b2b-information" class="read-more" title="B2B-Information on companies">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-8 content-column-even content-column-service views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                    <!--field: field_term_service START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Solvency information</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_service END-->
                    
                                    <h2 class="node-title">
                                        <!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>B2C-Information</span>
                                            </span>
                                        </div> 
                                        <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
                                
                                <div class="field-name-body">
                                    <p>Reliable evaluation of the solvency of consumers with information on private individuals</p>
                                </div> 
            
                                <a href="/en/services/solvency-information/b2c-information" class="read-more" title="B2C-Information">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-9 content-column-odd content-column-service views-row-colspan-1" data-ss-colspan="1">
                            <article class="teaser-article clearfix">
                                <header>
                                    <!--field: field_term_service START-->
                                    <div class="field-type-taxonomy-term-reference">
                                        <span class="field-items">
                                            <span>Address Management</span>
                                        </span>
                                    </div> 
                                    <!--field: field_term_service END-->
                    
                                    <h2 class="node-title">
                                        <!--field: field_teaser_title START-->
                                        <div class="">
                                            <span class="field-items">
                                                <span>Address Management</span>
                                            </span>
                                        </div> 
                                        <!--field: field_teaser_title END-->
                                    </h2>
                                </header>
                
                                <div class="field-name-body">
                                    <p>Strengthen your marketing and sales activities with solvency-checked company addresses</p>  
                                </div> 
            
                                <a href="/en/services/address-management" class="read-more" title="Address Management">
                                    Read More</a>
                            </article>
                        </div>

                        <div class="content-column content-column-10 content-column-even content-column-webform views-row-colspan-1" data-ss-colspan="1">
                            <article class="article-webform teaser-article clearfix">
                                <!--field: body START-->
                                <div class="field-name-body">
                                    <span class="field-items">
                                        <span><p>Please send me further information on&nbsp;</p>
                                        </span>
                                    </span>
                                </div> 
                                <!--field: body END-->

                                <form class="" enctype="multipart/form-data" action="/en/content/quick-response" method="post" id="webform-clientForm" accept-charset="UTF-8">
                                    <div>
                                        <div class="form-item" id="">
                                            <label class="element-invisible" for="edit-submitted-topics">Topics </label>
                                            <select class="" id="edit-submitted-topics" name="submitted[topics]">
                                                <option value="" selected="selected">- Topics -</option>
                                                <option value="1">Solvency information</option>
                                                <option value="3">Company Addresses</option>
                                                <option value="4">Address Research</option>
                                            </select>
                                        </div>
                                        <div class="form-item" id="">
                                            <label class="element-invisible" for="edit-submitted-name">Name <span class="form-required" title="This field is required.">*</span></label>
                                            <input title="Name*" placeholder="Name*" class="" type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="form-item" id="">
                                            <label class="element-invisible" for="edit-submitted-org">Company <span class="form-required" title="This field is required.">*</span></label>
                                            <input title="Company*" placeholder="Company*" class="" type="text" id="edit-submitted-org" name="submitted[org]" value="" size="60" maxlength="128">
                                        </div>
                                        <div class="form-item" id="">
                                            <label class="element-invisible" for="edit-submitted-email">Email <span class="form-required" title="This field is required.">*</span></label>
                                            <input class="required" title="Email*" placeholder="Email*" type="email" id="edit-submitted-email" name="submitted[email]" size="60">
                                        </div>
                                        <input type="hidden" name="details[sid]">
                                        <input type="hidden" name="details[page_num]" value="1">
                                        <input type="hidden" name="details[page_count]" value="1">
                                        <input type="hidden" name="details[finished]" value="0">
                                        <input type="hidden" name="form_build_id" value="form-ln0JFi7y79ls5BmplgbdHyM-jxn3QKry-LjQU5h46ts">
                                        <input type="hidden" name="form_id" value="webform_client_form_122">
                                        <div class="form-button form-wrapper" id="">
                                            <input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit">
                                        </div>
                                    </div>
                                </form>
                            </article>
                        </div>
                    <!--views row: END-->
                    </div>
                </div>
            <!--view: page_frontpage_i18n END-->
            </div>
        </div>